### Reading multiple files

Here are the important take-aways from the classes

In [61]:
import pandas as pd
import numpy as np

In [113]:
x= 1+2+3+4

In [ ]:
States= ['A', 'B', 'C']
Combinations=[]

for today in States:
    for tomorrow in States:
        Combinations.append([today, tomorrow])
        print(today, tomorrow)

Combinations

In [76]:
#Reading and editing multiple files simultaneously

States = ['E', 'U', 'N']
file_source= r'/Users/manchungshun/Documents/1 St Gallen/1 Python_Programming/Female/'

for today in States:
    for tomorrow in States:
        file_name= file_source+'lfsi_long_q_'+ today + tomorrow+'.xls'
        # or this: exec("file_name='{}lfsi_long_q_{}{}.xls'".format(file_source, today, tomorrow))  #two: "_" and '_'
        aux_df= pd.read_excel(file_name, skiprows=11, index_col=0, sheet_name='Data')
        
        aux_df=aux_df.T
        aux_df.rename(columns={"Former Yugoslav Republic of Macedonia, the": "Macedonia"}, inplace=True)
        aux_df.replace(':', np.NaN, inplace= True)
        
        print("{}{}".format(today,tomorrow))
        exec("{}{}=aux_df".format(today, tomorrow))

EE
EU
EN
UE
UU
UN
NE
NU
NN

In [108]:
#Creating rate_EE= EE/(EE+EN+EU) etc
#Saving them as pkl files
for today in States:
    exec("divider = {}E+{}U+{}N".format(today, today, today))
    for tomorrow in States:
        exec("aux_df={}{}/divider".format(today, tomorrow))
        
        exec("rate_{}{}=aux_df".format(today, tomorrow))
        #print("rate_{}{}".format(today,tomorrow))
        
        #save them as pkl files
        exec("rate_{}{}.to_pickle(file_source + 'rate_{}{}.pkl')".format(today, tomorrow, today, tomorrow))
rate_EE.head()

GEO/TIME,Belgium,Bulgaria,Czech Republic,Denmark,Estonia,Ireland,Greece,Spain,France,Croatia,...,Slovakia,Finland,Sweden,United Kingdom,Iceland,Norway,Switzerland,Montenegro,Macedonia,Turkey
2010Q2,NaN,0.982232,0.975845,0.953452,NaN,0.967706,0.986080,0.928485,0.966349,NaN,...,0.981336,0.948674,0.967417,0.970651,0.936709,0.967797,0.943803,NaN,0.893162,0.810751
2010Q3,NaN,0.981919,0.971648,0.930322,0.928328,0.952169,0.976808,0.917714,0.956493,NaN,...,0.988315,0.918046,0.950843,0.972228,NaN,0.949537,0.943337,NaN,0.953390,0.762091
2010Q4,NaN,0.963649,0.973154,0.933025,NaN,0.953984,0.960981,0.918313,0.945131,0.984273,...,0.981766,0.923333,0.939604,0.965044,NaN,0.955350,0.944008,NaN,0.913725,0.731397
2011Q1,NaN,0.940808,0.960971,0.945755,NaN,0.950113,0.970218,0.924583,0.959782,NaN,...,0.964559,0.937128,0.961466,0.974106,0.937500,0.968040,0.951713,NaN,0.910506,0.772099
2011Q2,NaN,0.980220,0.975445,0.947368,NaN,0.965753,0.975953,0.937606,0.968275,NaN,...,0.985265,0.953688,0.968692,0.972864,NaN,0.964912,0.952160,NaN,0.908046,0.817983

In [111]:
pd.read_pickle(file_source + 'rate_EE.pkl')

GEO/TIME,Belgium,Bulgaria,Czech Republic,Denmark,Estonia,Ireland,Greece,Spain,France,Croatia,...,Slovakia,Finland,Sweden,United Kingdom,Iceland,Norway,Switzerland,Montenegro,Macedonia,Turkey
2010Q2,NaN,0.982232,0.975845,0.953452,NaN,0.967706,0.986080,0.928485,0.966349,NaN,...,0.981336,0.948674,0.967417,0.970651,0.936709,0.967797,0.943803,NaN,0.893162,0.810751
2010Q3,NaN,0.981919,0.971648,0.930322,0.928328,0.952169,0.976808,0.917714,0.956493,NaN,...,0.988315,0.918046,0.950843,0.972228,NaN,0.949537,0.943337,NaN,0.953390,0.762091
2010Q4,NaN,0.963649,0.973154,0.933025,NaN,0.953984,0.960981,0.918313,0.945131,0.984273,...,0.981766,0.923333,0.939604,0.965044,NaN,0.955350,0.944008,NaN,0.913725,0.731397
2011Q1,NaN,0.940808,0.960971,0.945755,NaN,0.950113,0.970218,0.924583,0.959782,NaN,...,0.964559,0.937128,0.961466,0.974106,0.937500,0.968040,0.951713,NaN,0.910506,0.772099
2011Q2,NaN,0.980220,0.975445,0.947368,NaN,0.965753,0.975953,0.937606,0.968275,NaN,...,0.985265,0.953688,0.968692,0.972864,NaN,0.964912,0.952160,NaN,0.908046,0.817983
2011Q3,NaN,0.987717,0.968914,0.930287,NaN,0.948140,0.964413,0.910825,0.954253,NaN,...,0.985352,0.923204,0.949431,0.972147,0.902439,0.949378,0.927699,NaN,0.960784,0.772196
2011Q4,NaN,0.971228,0.969524,0.931061,NaN,0.961054,0.956443,0.906673,0.950940,0.948993,...,0.979592,0.920296,0.943820,0.967453,NaN,0.949420,0.943357,NaN,0.869231,0.755439
2012Q1,NaN,0.949117,0.966223,0.944882,NaN,0.955581,0.966937,0.923218,0.961979,NaN,...,0.991168,0.942857,0.957554,0.970569,NaN,0.963576,0.947448,NaN,0.927419,0.774161
2012Q2,NaN,0.983088,0.978897,0.953580,NaN,0.969001,0.976893,0.931342,0.968663,NaN,...,0.984390,0.944351,0.969697,0.972479,0.948718,0.969547,0.952621,NaN,NaN,0.835999
2012Q3,NaN,0.987717,0.973884,0.942323,NaN,0.954442,0.963011,0.912957,0.955132,NaN,...,0.975728,0.919184,0.947463,0.972653,0.914634,0.944039,0.944081,NaN,0.891051,0.775427
2012Q4,NaN,0.953878,0.972590,0.931411,NaN,0.957666,0.965608,0.906153,0.948157,0.906883,...,0.971817,0.911909,0.940444,0.974837,NaN,0.955918,0.935403,NaN,0.917969,0.768951
2013Q1,NaN,0.960432,0.969911,0.941640,NaN,0.962500,0.963087,0.924275,0.957582,NaN,...,0.982283,0.944398,0.960073,0.973807,NaN,0.959050,0.951710,NaN,0.960938,0.787732
2013Q2,NaN,0.985251,0.982539,0.947661,NaN,0.971429,0.977226,0.934129,0.969719,NaN,...,0.981500,0.947635,0.970776,0.972753,NaN,0.968007,0.953885,NaN,NaN,0.833563
2013Q3,NaN,0.978556,0.971163,0.940810,NaN,0.966254,0.974640,0.920235,0.958728,NaN,...,0.982490,0.914684,0.949288,0.970643,0.939024,0.953659,0.939243,NaN,0.908759,0.766048
2013Q4,NaN,0.952113,0.975268,0.931327,NaN,0.957825,0.966942,0.916071,0.950627,0.960729,...,0.979730,0.922435,0.945791,0.971157,NaN,0.958704,0.941060,NaN,0.910781,0.758259
2014Q1,NaN,0.970160,0.964700,0.939370,NaN,0.961154,0.983229,0.930351,0.971676,NaN,...,0.985618,0.942324,0.956696,0.974621,NaN,0.959580,0.947963,NaN,0.932836,NaN
2014Q2,NaN,0.984547,0.975164,0.944844,NaN,0.972004,0.980663,0.941403,0.967918,NaN,...,0.983670,0.948849,0.969806,0.975551,NaN,0.974756,0.958559,NaN,NaN,0.821035
2014Q3,NaN,0.984308,0.976646,0.948195,NaN,0.965594,0.978305,0.922347,0.952810,NaN,...,0.981783,0.919342,0.952130,0.973470,NaN,0.947917,0.939202,NaN,0.907407,0.773934
2014Q4,NaN,0.966597,0.979128,0.942219,NaN,0.964052,0.970706,0.923476,0.949576,0.929615,...,0.975167,0.914191,0.934567,0.973923,0.953488,0.958098,0.960565,NaN,0.908088,0.759583
2015Q1,NaN,0.971004,0.973455,0.941718,NaN,0.965443,0.971812,0.932934,0.961809,0.963225,...,0.970616,0.939523,0.962406,0.971126,0.953488,0.951394,0.945997,NaN,NaN,0.796540
2015Q2,NaN,0.986301,0.983938,0.940994,NaN,0.970620,0.991842,0.943268,0.966556,NaN,...,0.977401,0.941126,0.968999,0.973693,NaN,0.969156,0.947594,NaN,NaN,0.835008
2015Q3,NaN,0.987977,0.976396,0.940902,NaN,0.966809,0.980469,0.923979,0.957427,NaN,...,0.979401,0.925833,0.957050,0.973459,NaN,0.951317,0.942639,NaN,0.890845,0.780060
2015Q4,NaN,0.960879,0.975996,0.948798,0.940625,0.968288,0.969599,0.924181,0.946036,0.939353,...,0.978664,0.919502,0.941351,0.969676,NaN,0.946614,0.947672,NaN,0.864286,0.780901
2016Q1,NaN,0.956067,0.979656,0.956120,0.952229,0.966597,0.969421,0.933155,0.962368,0.953911,...,0.977064,0.942128,0.961039,0.971719,NaN,0.962249,0.951819,NaN,NaN,0.812129
2016Q2,NaN,0.986311,0.982967,0.952738,NaN,0.974895,0.988087,0.944003,0.966473,NaN,...,0.980909,0.943541,0.973981,0.978081,NaN,0.958400,0.952715,NaN,0.894366,0.850044
2016Q3,NaN,NaN,0.977817,0.931902,NaN,0.964176,0.981374,0.929009,0.954044,NaN,...,0.978339,0.924370,0.951756,0.975160,NaN,0.952000,0.941176,NaN,0.949458,0.789986
2016Q4,NaN,0.960784,0.981391,0.943736,NaN,0.970588,0.952926,0.924869,0.947528,0.914750,...,0.977639,0.914309,0.951158,0.972905,NaN,0.949045,0.952897,NaN,0.901754,0.781471
2017Q1,NaN,0.984914,0.972914,0.940557,NaN,0.973737,0.977749,0.933950,0.959499,NaN,...,0.978686,0.942588,0.968058,0.973507,NaN,0.959872,0.952071,NaN,NaN,0.827940
2017Q2,0.973295,NaN,0.979359,0.947608,0.968254,0.975758,0.990868,0.941927,0.969372,NaN,...,0.974494,0.944492,0.969055,0.977679,NaN,0.969330,0.952359,0.979592,0.920415,0.856434
2017Q3,0.942696,NaN,0.981627,0.946415,NaN,NaN,0.974407,0.929256,0.952289,NaN,...,0.978089,0.916667,0.956232,0.974829,NaN,0.953025,0.946085,0.970588,0.944828,0.802140
2017Q4,0.949349,0.960745,0.975862,0.937407,NaN,0.955313,0.955486,0.925913,0.951733,0.949482,...,0.969671,0.929707,0.947216,0.972396,NaN,0.957041,0.951128,NaN,0.938144,0.799454